/* Estilo para la barra de navegación */
nav {
    background-color: #333; /* Color de fondo */
    padding: 10px 0; /* Espaciado interno */
    text-align: center; /* Centrar elementos de la barra de navegación */
  }
  
  ul {
    list-style-type: none; /* Quitar el estilo de lista */
    padding: 0;
  }
  
  li {
    display: inline; /* Mostrar elementos en línea (en la misma línea) */
    margin-right: 20px; /* Espacio entre elementos */
  }
  
  li:last-child {
    margin-right: 0; /* Eliminar el margen derecho del último elemento */
  }
  
  /* Estilo para los enlaces de la barra de navegación */
  li a {
    text-decoration: none; /* Quitar subrayado de los enlaces */
    color: white; /* Color de texto */
    font-weight: bold; /* Peso de fuente en negrita */
    font-size: 16px; /* Tamaño de fuente */
  }
  
  /* Estilo para los enlaces cuando están en hover (sobre ellos) */
  li a:hover {
    text-decoration: underline; /* Subrayar en hover */
  }
  
/* Estilo para la barra de navegación */
nav {
    position: fixed; 
    top: 0; 
    left: 0;
    right: 0;
    background-color: #333;
    padding: 10px 0;
    text-align: center;
    z-index: 1000; 
  }
  
